@keyframes slowDown {
  0% {
    background-color: #f7f7f7;
    margin-left: 0%;
  }

  50% {
    background-color: black;
    margin-left: 50%;
  }

  100% {
    background-color: #f7f7f7;
    margin-left: 100%;
  }
}

#animate {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #f7f7f7;
  margin: 0 auto;

}

.animation {
  animation: slowDown 10s infinite;
  animation-direction: alternate;
}

body {
  background: #f7f7f7;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #8393ad;
}

button {
  color: black;
}

#main-header {
  margin-top: 20px;
}

.text-center {
  margin-top: 10px;
}

#clock-row {
  height: 100px;
}

#PomodoroTimer {
  margin-top: 40px;
}

#credits {
  margin-top: 60px;
}
